{% extends "poll/base.html" %}
{% load widget_tweaks %}

{% block title %} Create Poll {% endblock %}




{% block body  %}



<style>
.label{
margin-left:20px;
}
</style>


    {%  if user.is_authenticated %} 
    
 <!--Start Login  Button  -->
 <a href="/logout" style="background-color: red;" class="btn btn-info" role="button"> Logout </a>
{% else %}

{% endif %}






<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                </h3 class="panel-title">  Create A New Poll </h3>
            </div>
                
            <form method="POST">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Enter Poll Question</label>
                                {% render_field form.question class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>


 
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option1"> Option 1 </label>
                               
                                {% render_field form.option_one class="form-control" %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option2"> Option 2 </label>
                                {% render_field form.option_two class="form-control" %}
                            </div>
                        </div> 
                                    <br> <br> <br> <br> 

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option3">Option 3</label>
                                {% render_field form.option_three class="form-control" %}
                            </div>
                        </div>
                   
                    
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option4">Option 4</label>
                                {% render_field form.option_four class="form-control" %}
                            </div>
                             </div>


                        </div>
                    </div>





                    <div class="row">
                        <hr />
                        <div class="col-lg-4">
                          <button type="submit" style="margin-left: 300px; background-color:green;" class="btn btn-info">Submit</button>  <br> <br> 
                        
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="text-center">
<h1> Please login first to giving vote. </h1>
</div>




{% endblock body  %}
